@import "tailwindcss";

:root {
  /* Your default theme */
  --primary-color:#2563EB;
  --secondary-color:#F59E0B;
  --neutral-color:#F9FAFB;



}

.dark {
  --primary-color:#60A5FA;
  --secondary-color:#FBBF24;
  --neutral-color:#111827;
}